<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Encrypt</title>
</head>
<body>
<form method="POST">
    Welcome! Use this app to find out more about a Business<br><br>
    Enter a Business ID:<br>
    <select name="Business" autocomplete="on"><br>
    {% for biz in bid %}
    <option value="{{biz}}">{{biz}}</option>
    {% endfor %}
    <input type="submit"><br>
</form>
<br>
<strong>Showing Details for Business {{selected_biz}}</strong> <br>
<strong>Average Ratings:</strong>{{avg_rating}} <br>
<strong>Summary:</strong><br> {{summary}} <br>
</body>
</html>